<div class="bg-primary">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark ">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Sistema Pago en Linea</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" aria-current="page" routerLink="PagoOnline">Pago Online</a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" routerLink="Login" >Login</a>
                        </li>

                        <li class="nav-item" routerLinkActive="active">
                          <a class="nav-link" tabindex="-1" routerLink="DatosContribuyente">Datos Usuario</a>
                      </li>

                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" tabindex="-1" routerLink="PagoPendiente">Estado de cuenta Pendiente</a>
                        </li>

                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" routerLink="historialpago">Historial de pagos</a>
                        </li>


                     <!--     <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" aria-expanded="false">        Historial de pagos
                            </a>
                            <ul class="nav-item dropdown-submenu">
                                <li class="nav-item dropdown-submenu">
                                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Consultar por : </a>
                                    <ul class="dropdown-menu text-left">
                                        <li><a class="dropdown-item" routerLink="historialpago">Con 1 semana de antiguedad</a></li>
                                        <li><a class="dropdown-item" routerLink="historialpago">Con 1 mes de antiguedad</a></li>
                                        <li><a class="dropdown-item" routerLink="historialpago">Año 2018</a></li>
                                        <li><a class="dropdown-item" routerLink="historialpago">Año 2019</a></li>
                                        <li><a class="dropdown-item" routerLink="historialpago">Año 2020</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li> -->

                    </ul>

                </div>
            </div>
        </nav>
    </div>
</div>
