<div class="container my-5">
    <div class="jumbotron">
        <h1 class="display-4">Hola, {{user}}</h1>
        <p class="lead">En este formulario podras observar su pagos pendiente, y al escoger uno podras realizar el pago en linea</p>
        <hr class="my-4">
        <p>Para realizar el pago en linea deberas escoger un registro</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Mas informacion</a>
    </div>
</div>

<div class="container-fluid px-1 px-sm-4 py-5 mx-auto">


    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 5px;">

    </div>

    <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <label class="col-md-12 col-sm-3 col-xs-3 text-left">Código de contribuyente: </label>

        <div class='col-md-6 col-sm-4 col-xs-4'>
            <input type='text' class="form-control"  id="codigocont"  value="{{ codigocont}}" readonly="readonly" required  #textid />
        </div>
    </div>
    <div class="form-group">
        <button (click)="geteectapendiente(textid.value)" class="btn btn-success ml-auto"><span class="fa fa-filter">

        </span> Obtener Estado de cuenta</button>
        </div>

</div>

<div class="container mt-5">
    <nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
        <thead>
            <tr>
                <th nzCustomFilter>
                    Factura
                    <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                        <i nz-icon nzType="search"></i>
                    </nz-filter-trigger>
                </th>

                <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">{{ column.title }}</th>
                <th>
                    Opcionés
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of pagospendientes">
                <td>{{ data.nperiodo }}</td>
                <td>{{ data.fecha_vcmto | date : 'dd-MM-yyyy' }}</td>
                <td>{{ data.Fact }}</td>
                <td>{{ data.afpr1 }}</td>
                <td>{{ data.des_afr1 }}</td>
                <td>{{ data.code }}</td>
                 <td>{{ data.fracciona }}</td>
                <td>{{ data.des_fracciona }}</td>
                <td>{{ data.imp_deuda }}</td>
                <td><a href="">Pagar</a></td>
            </tr>
        </tbody>
    </nz-table>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <div class="ant-table-filter-dropdown">
            <div class="search-box">
                <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                Search
                </button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
            </div>
        </div>
    </nz-dropdown-menu>

</div>
