<div class="container">
  <h3>Datos del Contribuyente</h3>
  <div class="row">
    <div class="main-login main-center" style="   padding-top: 0px;   padding-bottom: 150px;">
      <form class="form-horizontal" method="post"  name="registro" id ="registro">
         <div class="form-group">
           <label for="username" class="cols-sm-2 control-label">Código de Usuario</label>
           <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="idusuario" id="idusuario"  value="MH000001">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="first_name" class="cols-sm-2 control-label">Apellidos y Nombres</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="first_name" id="first_name" value="Novoa Velasquez Maria Fernanda">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="first_name" class="cols-sm-2 control-label">Dirección</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="first_name" id="first_name"  placeholder="dirección domicilio" value = "Calle Los Rosales 0509">
              </div>
            </div>
          </div>

        <div class="form-group">
          <label for="phone" class="cols-sm-2 control-label">Telefono 1 </label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-phone fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="phone" id="phone"  placeholder="movil o residencial" value = "954179674">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="phone2" class="cols-sm-2 control-label">Telefono  2 </label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-phone fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="phone" id="phone2"  placeholder="movil o residencial 2" value = "01567842">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="phone2" class="cols-sm-2 control-label">Telefono  3 </label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-phone fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="phone" id="phone2"  placeholder="movil o residencial 2" value ="908765432">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="phone2" class="cols-sm-2 control-label">Correo Electronico</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-address-card" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="email" id="email"  placeholder="Correo electronico" value = "mafe_novoa@hotmail.com">
              </div>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>
