<div class="container mt-5">
    <div class="jumbotron">
        <h4>Estimado contribuyente :</h4> 
        <p class="lead"></p>
        <p class="lead">Desde este formulario podras consultar el historial del pago de tus contribuciones  </p>
        <hr class="my-4">   

        <div class="btn-group" role="group" aria-label="Exportar">
            <button type="button" class="btn btn-secondary"   >Excel</button>
            <button type="button" class="btn btn-secondary">PDF</button>                    
          </div>
    </div>
  

    <div class="card card-body text-center">
        <h6 class="font-weight-semibold">Filtro por año de recaudación </h6>		
        <input type ="text" #textid>
        <input type ="text" #desdeid>
        <input type ="text" #hastaid>
        <button (click)="getHistorial(textid.value,desdeid.value,hastaid.value)">Obtiene estado </button>
       <!--  <ul class="pagination pagination-separated align-self-center">
            <li class="page-item"><a href="#" class="page-link">← &nbsp; Prev</a></li>
            <li class="page-item"><a href="#" class="page-link">2018</a></li>
            <li class="page-item"><a href="#" class="page-link">2019</a></li>
            <li class="page-item active"><a href="#" class="page-link">2020</a></li>            
            <li class="page-item"><a href="#" class="page-link">Next &nbsp; →</a></li>
        </ul> -->
    </div>	

    <div class='table-responsive'>
        <table class='table'>
        <thead>
            <tr>                
                <th>Año</th> 
                <th>Vencimiento</th> 
                <th>Fecha de pago</th> 
                <th>No Operacion</th> 
                <th>Transaccion</th> 
                <th>Fact</th> 
                <th>afrp1</th> 
                <th>Descripcion afrp1</th> 
                <th>Fecha</th> 
                <th>Importe Deuda</th> 
            </tr>
        </thead>
        <tbody> 
        <tr *ngFor="let historia of historialpago;">  
               
                <td>{{ historia.Anio }}</td>
                <td>{{ historia.Vencimiento }}</td>
                <td>{{ historia.Fechapago }}</td>
                <td>{{ historia.NroOperacion }}</td>
                <td>{{ historia.Transaccion }}</td>
                <td>{{ historia.Fact }}</td>
                <td>{{ historia.afrp1 }}</td>
                <td>{{ historia.desafrp1 }}</td>
                <td>{{ historia.Fecha }}</td>                
                <td>{{ historia.ImporteDeuda }}</td>
    
            </tr>
        </tbody>
        </table>

  
</div>
</div>



