<div class="container mt-5">
    <div class="jumbotron">
        <h4>Estimado contribuyente :</h4> 
        <p class="lead"></p>
        <p class="lead">Desde este formulario podras consultar el historial del pago de tus contribuciones  </p>
        <hr class="my-4">   

        <div class="btn-group" role="group" aria-label="Exportar">
            <button type="button" class="btn btn-secondary"   >Excel</button>
            <button type="button" class="btn btn-secondary">PDF</button>                    
          </div>
    </div>
  

    <div class="card card-body text-center">
        <h6 class="font-weight-semibold">Filtro por año de recaudación </h6>		
        <input type ="text" #textid>
        <input type ="text" #desdeid>
        <input type ="text" #hastaid>
        <button (click)="getHistorial(textid.value,desdeid.value,hastaid.value)">Obtiene estado </button>     
    </div>	

  <ng-container *ngIf="historialpagos">
    <div class='table-responsive'>
        <table class='table'>
        <thead>
            <tr>                
                <th>Año</th> 
                <th>Vencimiento</th> 
                <th>Fecha de pago</th> 
                <th>No Operacion</th> 
                <th>Transaccion</th> 
                <th>Fact</th> 
                <th>afrp1</th> 
                <th>Descripcion afrp1</th>                 
                <th>Importe Deuda</th> 
            </tr>
        </thead>
        <tbody> 
        <tr *ngFor="let h of historialpagos.data">                       
                <td>{{ h.nperiodo }}</td>
                <td>{{ h.fecha_vcmto }}</td>
                <td>{{ h.fecha_pago }}</td>
                <td>{{ h.nro_ope }}</td>
                <td>{{ h.nro_tran }}</td>
                <td>{{ h.fact }}</td>
                <td>{{ h.afrp1 }}</td>
                <td>{{ h.desafrp1 }}</td>                
                <td>{{ h.imp_deuda }}</td>    
            </tr>
        </tbody>
        </table>
</div>
</ng-container>
</div>



