<div class="navbar navbar-expand-lg navbar-light">
  <footer class="kb-footer">
    <div class="kb-footer-wrapper template-centered">
      <div class="footer-copywrite-container">
        <a href="http://www.munihuancavelica.gob.pe/es/" id="footer-logo">
          <img src="assets/images/escudo.png" width="35" height="35" alt="hubspot">
        </a>
        <span>Sistema de Pagos en Línea de la Municipalidad provincial de Huancavelica &copy; 2021</span>
      </div>
    </div>
  </footer>
</div>
